<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAltaPerro</servlet-name>
        <servlet-class>controlador.ServletAltaPerro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAltaAdoptador</servlet-name>
        <servlet-class>controlador.ServletAltaAdoptador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarAdoptador</servlet-name>
        <servlet-class>controlador.ServletModificarAdoptador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarAdoptador</servlet-name>
        <servlet-class>controlador.ServletBorrarAdoptador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarAdoptador</servlet-name>
        <servlet-class>controlador.ServletMostrarAdoptador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPerro</servlet-name>
        <servlet-class>controlador.ServletModificarPerro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticador</servlet-name>
        <servlet-class>controlador.ServletAutenticador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarPerro</servlet-name>
        <servlet-class>controlador.ServletBorrarPerro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAltaPerro</servlet-name>
        <url-pattern>/ServletAltaPerro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAltaAdoptador</servlet-name>
        <url-pattern>/ServletAltaAdoptador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarAdoptador</servlet-name>
        <url-pattern>/ServletModificarAdoptador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarAdoptador</servlet-name>
        <url-pattern>/ServletBorrarAdoptador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarAdoptador</servlet-name>
        <url-pattern>/ServletMostrarAdoptador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPerro</servlet-name>
        <url-pattern>/ModificarPerro</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>AdministradorEmergencia</param-name>
        <param-value>corsini</param-value>
    </context-param>
    <context-param>
        <param-name>ContrasennaEmergencia</param-name>
        <param-value>kk</param-value>
    </context-param>
    <context-param>
        <param-name>Piedepagina</param-name>
        <param-value>Adopciones.es -Rodrigo Corsini Bolado </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ServletAutenticador</servlet-name>
        <url-pattern>/ServletAutenticador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarPerro</servlet-name>
        <url-pattern>/ServletBorrarPerro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
